

.containerzj {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vh; /* Adjust padding using viewport units */
}

.summaryzj {
    flex-grow: 1;
}

.balance-section, .debt-section {
    margin-bottom: 2vh; /* Adjust margin using viewport units */
}

.balance-info, .debt-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1vh; /* Adjust padding using viewport units */
    height: 30vh; /* Adjust height using viewport units */
    margin-left: 7vw; /* Adjust margin using viewport units */
}

.headerzj {
    font-weight: bold;
    margin-bottom: 1vh; /* Adjust margin using viewport units */
    margin-left: 7vw; /* Adjust margin using viewport units */
    white-space: nowrap;
}

.titlezj {
    font-weight: bold;
    margin-bottom: 0.5vh; /* Adjust margin using viewport units */
    margin-left: 7vw; /* Adjust margin using viewport units */
}

/*.vertical-linezj {
    width: 0.1vw;*/ /* Adjust width using viewport units */
    /*background-color: #ccc;
    margin: 2vh 4vw;*/ /* Adjust margin using viewport units */
/*}*/

.transaction-historyzj {
    flex-grow: 2;
}

ul {
    list-style-type: none;
    padding: 0;
}
/*ul li {
        margin-bottom: 1vh;*/ /* Adjust margin using viewport units */
/*}*/


.placeholderzj {
    color: black;
    background: transparent;
    display: block;
    margin-top: 8vh; /* Adjust margin using viewport units */
    margin-left: 0.5vw; /* Adjust margin using viewport units */
    text-align: center;
}

.vertical-linezj {
    width: 0.3vw; /* Adjust width using viewport units */
    height: 90vh; /* Adjust height using viewport units */
    position: absolute;
    top: 0;
    background-color: #ccc;
    left: 50vw; /* Adjust left position using viewport units */
    transform: translateX(-50%); /* Move the line back by half of its width to center it */
}

.history-title {
    font-weight: bold;
    margin-bottom: 1vh; /* Adjust margin using viewport units */
    margin-left: 45vw; /* Adjust left position using viewport units */
}

.history-table {
    border: 1px solid;
    width: 40vw; /* Adjust width using viewport units */
    border-collapse: collapse;
    margin-left: 29vw; /* Adjust left position using viewport units */
    margin-top: 4vh; /* Adjust margin using viewport units */
}

.history-row {
    display: flex;
}

.history-item {
    flex: 1;
    padding: 1vh; /* Adjust padding using viewport units */
    font-size: 1.4vh; /* Adjust font size using viewport units */
    text-align: center;
}

.history-placeholder {
    text-align: center;
    margin-top: 1vh; /* Adjust margin using viewport units */
    margin-left: 5vw;
}
