body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
}

.summary {
    flex-grow: 1;
}

.balance-section, .debt-section {
    margin-bottom: 2%;
}

.balance-info, .debt-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1%;
    height: 20%;
    margin-left: 10%;
}

.header {
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 10%;
}

.title {
    font-weight: bold;
    margin-bottom: 0.5%;
    margin-left: 10%;
}

.vertical-line {
    width: 0.1%;
    background-color: #ccc;
    margin: 2% 4%;
}

.transaction-history {
    flex-grow: 2;
}

ul {
    list-style-type: none;
    padding: 0;
}

    ul li {
        margin-bottom: 1%;
    }

.placeholder {
    color: black;
    background: transparent;
    display: block;
    margin-top: 9%;
    margin-left: 9%;
}

.vertical-line {
    width: 0.15%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.history-title {
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 22%;
}

.history-table {
    border: 1px solid;
    width: 45%;
    border-collapse: collapse;
    margin-left: 46%;
    margin-top: 2%;
}

.history-row {
    display: flex;
    border-bottom: 1px;
}

.history-item {
    flex: 1;
    padding: 1%;
    font-size: 14px;
    text-align: center;
}

.history-placeholder {
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
}
