html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pin-input {
    display: flex;
    justify-content: space-between; /* Center the input fields horizontally */
    align-items: center; /* Center the input fields vertically */
    padding: 150px;
}

.pin-digit {
    border: none;
    border-bottom: 2px solid black;
    width: 60px; /* Adjust the width as needed */
    text-align: center;
    margin: 0 5px; /* Adjust the margin as needed */
    font-size: 30px;
    outline: none;
}

.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.star {
    font-size: 100px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.feedback-container {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding:10% 1vh;
    gap: 8vh;
    justify-content:space-around;
}

.feedback-option {
    background-color: rgb(213, 213, 213, 0.80);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius:1rem;
    text-align: center;
    padding: 2rem;
    text-decoration:none;
    color: rgb(30, 30, 30)
}

.feedback-option:hover {
    background-color: rgb(138, 138, 138);
    color: rgb(30, 30, 30)
}
