html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.star {
    font-size: 100px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}