#camContainer {
    height: 220px;
    width: 220px;
    display: none;
    position: absolute;
    z-index: 10;
    user-select: none;
    cursor: grab;
    shape-outside: circle();
    clip-path: circle();
}
#streamCam {
    height: 100%;
    width: 100%;
    /*Mirror code starts*/
    transform: scale(1.2) rotateY(180deg);
    -webkit-transform: scale(1.4) rotateY(180deg); /* Safari and Chrome */
    -moz-transform: scale(1.4) rotateY(180deg); /* Firefox */
}
