
#dragCamCon {
    position: absolute;
    z-index: 9;
}
#camContainer {
    z-index: 10;
    height: 220px;
    width: 220px;
    display: none;
    /*user-select: none;*/
    cursor: move;
    shape-outside: circle();
    clip-path: circle();
}
#streamCam {
    height: 100%;
    width: 100%;
    /*Mirror code starts*/
    transform: scale(1.2) rotateY(180deg);
    -webkit-transform: scale(1.4) rotateY(180deg); /* Safari and Chrome */
    -moz-transform: scale(1.4) rotateY(180deg); /* Firefox */
}
