
#dragCamCon {
    position: absolute;
    z-index: 9;
}
#camContainer {
    z-index: 10;
    height: 220px;
    width: 220px;
    display: block;
    cursor: move;
    shape-outside: circle();
    clip-path: circle();
}

#video, #canvas {
    position: absolute;
    z-index: 11;
/*    border: 5px solid red;*/
}
#video {
    transform: scale(1) rotateY(180deg) translate(20%, -5%);
    -webkit-transform: scale(1) rotateY(180deg) translate(20%, -5%);
    -moz-transform: scale(1) rotateY(180deg) translate(20%, -5%);
}
#canvas {
    display: none;
    transform: scale(0.7) rotateY(180deg) translate(20%, -5%);
    -webkit-transform: scale(0.7) rotateY(180deg) translate(20%, -5%);
    -moz-transform: scale(0.7) rotateY(180deg) translate(20%, -5%);
}