
<!DOCTYPE html> <!--hello world-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFD_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/streamCam.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/resizeScreen.css" asp-append-version="true" />
    <script src="~/js/main.js" defer></script>
    <script src="~/js/site.js" defer></script>
    <script src="~/js/resizeScreen.js" defer></script>
    <script src="~/js/streamCam.js" defer></script>
    <script src="https://kit.fontawesome.com/41cc033c5e.js" crossorigin="anonymous"></script>
</head>
<body>
	<header style="position: absolute; z-index: 1; width: 100%;top: 0; transform: translate(0, 0);">
        <div class="row my-3 mx-2" >
            <div class="col text-left">
                <ul class="navbar-nav list-group-horizontal">
                    <li class="nav-item mx-1">
                        <a href="javascript:history.go(-1)"><i class="fa-solid fa-backward fa-2xl" style="color: #000000; padding:20px;"></i></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a asp-area="" asp-controller="Home" asp-action="Index" onclick="logOut()"><i class="fa-solid fa-right-from-bracket fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col text-right">
                <ul class="navbar-nav list-group-horizontal justify-content-end">
                    <li class="nav-item mx-1 ml-auto">
                        <a href="#" onClick="toggleCam()" id="camIcon"><i class="fa-solid fa-camera fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                    <li class="nav-item mx-1 ml-auto">
                        <a asp-area="" asp-controller="Home" asp-action=""><i class="fa-solid fa-volume-high fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                    <li class="nav-item mx-1 ml-auto">
                        <a href="#" onclick="toggleLanguage()"><i class="fa-solid fa-language fa-2xl" style="color: #000000; padding: 20px"></i></a>
                    </li>
                    <li class="nav-item mx-1 ml-auto">
                        <a href="#" onclick="toggleResize()"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <div class="container">

        <div id="dragCamCon">
            <div id="camContainer">
                <video id="streamCam" autoplay></video>
            </div>
        </div>

        <main role="main" class="pb-3">
            
            <div class="container-fluid justify-content-center" id="resizePopUp">
                <div class="d-inline-block topLabel">
                    <label>Select preset</label>
                    <a href="#" onclick="closeResize()"><i class = "fa-solid fa-x"></i></a>
                </div>
                <div class="row justify-content-center presetList">
					<div class="col-3 mx-3 my-5" id="defaultPreset" onclick="selectDefault(100)">
                        <span id="defaultpreset">Default</span> 
                    </div>
					<div class="col-3 mx-3 my-5" id="p1Preset" onclick="selectp1(150)">
                        <span id="preset1">Large</span>
                    </div>
					<div class="col-3 mx-3 my-5" id="p2Preset" onclick="selectp2(200)">
                        <span id="preset2">Largest</span>
                    </div>
                </div>
            </div>

            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <span id="reminderText"></span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/reminders.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


