<!DOCTYPE html> <!--hello world-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFD_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PFD_Project.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/streamCam.css" asp-append-version="true" />
    <script src="~/js/streamCam.js"></script>

    <script src="https://kit.fontawesome.com/41cc033c5e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="row my-3 mx-2">
            <div class="col text-left">
                <ul class="navbar-nav list-group-horizontal">
                    <li class="nav-item mx-1">
                        <a href="javascript:history.go(-1)"><i class="fa-solid fa-backward fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-right-from-bracket fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col text-right">
                <ul class="navbar-nav list-group-horizontal justify-content-end">
                    <li class="nav-item mx-1 ml-auto">
                        <a href="#" onClick="toggleCam()"><i class="fa-solid fa-camera fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                    <li class="nav-item mx-1 ml-auto">
                        <a asp-area="" asp-controller="Home" asp-action=""><i class="fa-solid fa-volume-high fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                    <li class="nav-item mx-1 ml-auto">
                        <a asp-area="" asp-controller="Home" asp-action=""><i class="fa-solid fa-language fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                    <li class="nav-item mx-1 ml-auto">
                        <a asp-area="" asp-controller="Home" asp-action="AdjustScreen"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #000000; padding:20px"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="camContainer">
                <video id="streamCam" autoplay></video>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="position:absolute;bottom:0">
        <p>Reminder: Keep a lookout of your surroudings (need use js)</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
