@{
    ViewData["Title"] = "Feedback Options";
}

<div class="text-center container-fluid">
    <p class="rTitle" id="area">What are the areas we can improve on?</p>
    <grid class="feedback-container">
        <a class="rCon" id="slowTransactionProcessing" asp-controller="Home" asp-action="Thanks" class="feedback-option">Slow transaction processing</a>
        <a class="rCon" id="difficultyWithATM" asp-controller="Home" asp-action="Thanks" class="feedback-option">Difficulty using the ATM</a>
        <a class="rCon" id="displayUninteractive" asp-controller="Home" asp-action="Thanks" class="feedback-option">Display uninteractive</a>
        <a class="rCon" id="inadequateLighting" asp-controller="Home" asp-action="Thanks" class="feedback-option">Inadequate Lighting</a>
        <a class="rCon" id="transactionErrors" asp-controller="Home" asp-action="Thanks" class="feedback-option">Transaction Errors</a>
        <a class="rCon" id="accessibilityIssues" asp-controller="Home" asp-action="Thanks" class="feedback-option">Accessibility Issues</a>
        <a class="rCon" id="securityIssues" asp-controller="Home" asp-action="Thanks" class="feedback-option">Security Issues</a>
        <a class="rCon" id="others" asp-controller="Home" asp-action="Thanks" class="feedback-option">Others</a>
    </grid>
</div>

