@{
    ViewData["Title"] = "Feedback Options";
}

<div class="text-center container-fluid">
    <h1 id="area">What are the areas we can improve on?</h1>
    <grid class="feedback-container">
        <a id="slowTransactionProcessing" asp-controller="Home" asp-action="Thanks" class="feedback-option">Slow transaction processing</a>
        <a id="difficultyWithATM"asp-controller="Home" asp-action="Thanks" class="feedback-option">Difficulty using the ATM</a>
        <a id="displayUninteractive" asp-controller="Home" asp-action="Thanks" class="feedback-option">Display uninteractive</a>
        <a id="inadequateLighting"asp-controller="Home" asp-action="Thanks" class="feedback-option">Inadequate Lighting</a>
        <a id="transactionErrors" asp-controller="Home" asp-action="Thanks" class="feedback-option">Transaction Errors</a>
        <a id="accessibilityIssues" asp-controller="Home" asp-action="Thanks" class="feedback-option">Accessibility Issues</a>
        <a id="securityIssues" asp-controller="Home" asp-action="Thanks" class="feedback-option">Security Issues</a>
        <a id="others" asp-controller="Home" asp-action="Thanks" class="feedback-option">Others</a>
    </grid>
</div>

