@{
    ViewData["Title"] = "Feedback Options";
}

<div class="text-center container-fluid">
    <p class="rTitle" id="area">What are the areas we can improve on?</p>
    <grid class="feedback-container">
        <a class="rCon feedback-option" id="slowTransactionProcessing" asp-controller="Home" asp-action="Thanks">Slow transaction processing</a>
        <a class="rCon feedback-option" id="difficultyWithATM" asp-controller="Home" asp-action="Thanks">Difficulty using the ATM</a>
        <a class="rCon feedback-option" id="displayUninteractive" asp-controller="Home" asp-action="Thanks">Display uninteractive</a>
        <a class="rCon feedback-option" id="inadequateLighting" asp-controller="Home" asp-action="Thanks">Inadequate Lighting</a>
        <a class="rCon feedback-option" id="transactionErrors" asp-controller="Home" asp-action="Thanks">Transaction Errors</a>
        <a class="rCon feedback-option" id="accessibilityIssues" asp-controller="Home" asp-action="Thanks">Accessibility Issues</a>
        <a class="rCon feedback-option" id="securityIssues" asp-controller="Home" asp-action="Thanks">Security Issues</a>
		<a class="rCon feedback-option" id="others" asp-controller="Home" asp-action="Thanks">Others</a>
    </grid>
</div>

