@{
    ViewData["Title"] = "FeedbackStars";
}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <p class="rTitle" id="rateExperience" style="white-space: nowrap">How would you rate your experience today?</p>

    <div class="star-rating">
        <a asp-controller="Home" asp-action="FeedbackOptions" class="star">&#9733;</a>
        <a asp-controller="Home" asp-action="FeedbackOptions" class="star">&#9733;</a>
        <a asp-controller="Home" asp-action="FeedbackOptions" class="star">&#9733;</a>
        <a asp-controller="Home" asp-action="Thanks" class="star">&#9733;</a>
        <a asp-controller="Home" asp-action="Thanks" class="star">&#9733;</a>
    </div>
</div>

