﻿@{
    ViewData["Title"] = "FeedbackStars";
}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <p class="rTitle" id="rateExperience" style="white-space: nowrap">How would you rate your experience today?</p>

    <div class="star-rating">
        <form asp-controller="Home" asp-action="FeedbackStars" method="post">
            <input type="submit" style="border:none; background:none" class="star" value=&#9733; asp-route-star=1>
            <input type="submit" style="border:none; background:none" class="star" value=&#9733; asp-route-star=2>
            <input type="submit" style="border:none; background:none" class="star" value=&#9733; asp-route-star=3>
            <input type="submit" style="border:none; background:none" class="star" value=&#9733; asp-route-star=4>
            <input type="submit" style="border:none; background:none" class="star" value=&#9733; asp-route-star=5>
        </form>
    </div>
</div>