@{
    ViewData["Title"] = "Home";
}

<div class="text-center container-fluid">
    <p class="rTitle" id="helloMessage">Hello Xavier,</p>
    <p class="rSub" id="helloQuestion">What would you like to do today?</p>
    <br />
    <br />
</div>

<div class="container">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-3">
            <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                <div style="font-size: 30px;" class="rTitle" id="getCash"><b>Get Cash</b></div>
                <div class="card border-dark" style="width: 180px; height: 250px;">
                    <div class="card-body" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                        <a class="rTitle" id="withdrawCash" asp-controller="Home" asp-action="WithdrawAmount" style="font-size: 30px; text-decoration: none">Withdraw Cash</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <div style="border-left: 2px solid black; height: 100%;"></div>
        </div>

        <div class="col-md-5">
            <div>
                <p class="rTitle" id="nonCashService" style="text-align: center; padding-bottom: 20px; font-size: 30px;"><b>Non Cash Services</b></p>
            </div>
            <div style="display: flex; justify-content: center; gap: 65px;">
                <div class="card border-dark" style="width: 170px; height: 250px;">
                    <div class="card-body" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                        <a class="rTitle" id="activateCard" asp-controller="Home" asp-action="" style="font-size: 30px; text-decoration: none">Activate Card</a>
                    </div>
                </div>

                <div class="card border-dark" style="width: 170px; height: 250px;">
                    <div class="card-body" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                        <a class="rTitle" id="balanceEnquiry" asp-controller="Home" asp-action="" style="font-size: 30px; text-decoration: none">Balance Enquiry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
