@model PFD_Project.Models.Transactions

@{
    ViewData["Title"] = "Home";
}

@* <div class="text-center container-fluid">
    <p class="rTitle" id="helloMessage">Hello Xavier,</p>
    <p class="rSub" id="helloQuestion">What would you like to do today?</p>
    <br />
    <br />
</div> *@
<div class="background"></div>
<div class="homeContainer row">
    
    <div class="left col-6">
        <div class="intLeft">
            <span class="rSub functionTitle">Get Cash</span>
            <div class="cardGrid">
                <div class="cardContentLeft">
                    <form asp-controller="Home" asp-action="Home" method="post">
                        <div class="row">
                            <div class="col-2 m-1 amountCard">
                                <input type="submit" class="rTitle text-decoration-none" value="$50" asp-route-amount=50>
                            </div>
                            <div class="col-2 m-1 amountCard">
                                <input type="submit" class="rTitle text-decoration-none" value="$80" asp-route-amount=80>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 m-1 amountCard">
                                <input type="submit" class="rTitle text-decoration-none" value="$100" asp-route-amount=100>
                            </div>
                            <div class="col-2 m-1 amountCard">
                                <input type="submit" class="rTitle text-decoration-none" value="$500" asp-route-amount=500>
                            </div>
                        </div>
                    </form>
                    <form asp-controller="Home" asp-action="Home" method="post">
                        <div class="row">
                            <div class="col-6 my-1" style="padding: 5px; width: 100%">
                                <div class="input-group" style="">
                                    <input type="text" id="enterAmountPlaceholder" name="amount" class="form-control rCon" placeholder="Other amount" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary d-inline-block" id="submitButton" style="border: none; outline: none; background: transparent;" disabled><i class="fa-solid fa-arrow-right fa-2xl" style="color:#000000"></i></button>
									</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="right col-6">
        <div class="intRight">
            <span class="rSub functionTitle">Non-Cash Services</span>
            <div class="cardGrid">
                <div class="cardContentRight">
					<div class="row">
						<button class="noncashContent rTitle" asp-controller="Home" asp-action="">
                            Activate Card
                        </button>
                        <a class="noncashContent rTitle" asp-controller="Home" asp-action="TestBalanceEnquiry" style="color:black; padding-left:5%; padding-top:16%; text-decoration:none">
                            Balance Enquiry
                        </a>
                        @* <a style="display:flex;">
                            <i class="fa-solid fa-chevron-right fa-2xl"></i>
                        </a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('enterAmountPlaceholder').addEventListener('input', function () {
        const amount = this.value.trim();
        const submitButton = document.getElementById('submitButton');

        // Check if the input is a valid number with or without a leading $
        if (/^\$?\d+$/.test(amount)) {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'true');
        }
    });
</script>