@{
    ViewData["Title"] = "First page";
    Layout = null;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFD_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/js/main.js" defer></script>
</head>
<body>
    <div class="container-fluid justify-content-center text-center">
        <a asp-controller ="Home" asp-action="Pin" class="text-decoration-none" style="cursor:default">
            <div class="d-block logoContainer">
		        <img src="~/images/logo_ocbc.png" id="logo" alt="OCBC logo" width="468" height="auto" />
                <div class="logoText container">
					<span>ATM Services</span>
                </div>
                <div class="logoInstruction">
					<span>Tap to begin</span>
                </div>
            </div>
        </a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>




