@{
    ViewData["Title"] = "First page";
}

<div class="text-center container-fluid">
    <h1>Welcome to OCBC!</h1>
    <a asp-controller="Home" asp-action="Home"><img src="~/images/qrcode.svg" /></a>
    <h4>Please scan the QR code or insert card in the reader</h4>
    <a asp-controller="Home" asp-action="Pin" style="rgba: (0,0,0,0.5)">pin</a>
</div>