@{
    ViewData["Title"] = "First page";
}

<div class="text-center container-fluid">
    <p class="rTitle" id="welcomeMessage">Welcome to OCBC!</p>
    <a asp-controller="Home" asp-action="Home"><img src="~/images/qrcode.svg" /></a>
    <p class="rCon" id="scanQRCode">Please scan the QR code or insert card in the reader</p>
    <a asp-controller="Home" asp-action="Pin" class="rCon">pin</a>

    <br />
    
</div>

@* 
Camera feature works + Resizing font with presets & manual adjustment
*@



