
    <div class="text-center container-fluid moreoptionForm">
        <p class="rTitle" id="area">More Options</p>

        <form asp-controller="Home" asp-action="MoreOption" method="post">
            <div class="feedback-container">
                <button id="AcitvateCard" class="rCon Activate-Card" asp-route-description="Activate Card">
                    <a class="fa-regular fa-credit-card"></a>Activate Card
                </button>
                <button id="CheckBalanceInquiry" class="rCon Check-Balance-Inquiry" asp-route-description="Check Balance Inquiry">
                    <a asp-controller="Home" asp-action="BalanceEnquiry" class="fa-solid fa-money-bill"></a>Check Balance Enquiry
                </button>
                <button id="BillPayment" class="rCon Bill-Payment" asp-route-description="Bill Payment">
                    <a class="fa-solid fa-receipt"></a>Bill Payment
                </button>
                <button id="FundsTransfer" class="rCon Funds-Transfer" asp-route-description="Funds Transfer">
                    <a asp-controller="Home" asp-action="TransferConfirmation" class="fa-solid fa-money-bill-transfer"></a>Funds Transfer
                </button>
            </div>
        </form>
    </div>
