@{
    ViewData["Title"] = "More Option";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/moreOption.css">
    <title>More Option</title>
</head>

<body>
    <div class="text-center container-fluid">
        <p class="rTitle" id="area">More Options</p>

        <form asp-controller="Home" asp-action="MoreOption" method="post">
            <div class="feedback-container">
                <button id="AcitvateCard" class="rCon Activate-Card" asp-route-description="Activate Card">
                    <i class="fa-regular fa-credit-card"></i>Activate Card
                </button>
                <button id="CheckBalanceInquiry" class="rCon Check-Balance-Inquiry" asp-route-description="Check Balance Inquiry">
                    <i class="fa-solid fa-money-bill"></i>Check Balance Inquiry
                </button>
                <button id="BillPayment" class="rCon Bill-Payment" asp-route-description="Bill Payment">
                    <i class="fa-solid fa-receipt"></i>Bill Payment
                </button>
                <button id="FundsTransfer" class="rCon Funds-Transfer" asp-route-description="Funds Transfer">
                    <i class="fa-solid fa-money-bill-transfer"></i>Funds Transfer
                </button>
            </div>
        </form>
    </div>
</body>
</html>
