@{
    ViewData["Title"] = "Receipt";
}

<div class="text-center container-fluid" style="margin-top:120px;">
    <p class="rTitle" id="withdrawAmountAmount">Withdraw Amount: $50</p>
    <p class="rSub" id="receipt">Would you like a receipt?</p>
</div>


<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="card" style="margin-top:30px;">
                <div class="card-body" style="text-align:center; min-height: 190px; margin-top: 90px;">
                    <a class="rTitle" asp-controller="Home" asp-action="FeedbackStars" style="font-size:30px; text-decoration:none" id="yesShow">Yes</a>
                    <p class="rCon" id="showCardBalance">(show card balance)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="margin-top:30px;">
                <div class="card-body" style="text-align:center; min-height: 190px; margin-top: 90px;">
                    <a class="rTitle" asp-controller="Home" asp-action="FeedbackStars" style="font-size:30px; text-decoration:none" id="yesHide">Yes</a>
                    <p class="rCon" id="hideCardBalance">(hide card balance)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="margin-top:30px;">
                <div class="card-body" style="text-align:center; min-height: 190px; margin-top: 90px;">
                    <a class="rTitle" asp-controller="Home" asp-action="FeedbackStars" style="font-size:30px; text-decoration:none" id="no">No</a>
                </div>
            </div>
        </div>
    </div>


</div>

