@{
    ViewData["Title"] = "Receipt";
}

<div class="text-center container-fluid">
    <p class="rTitle" id="">Withdraw Amount: $50</p>
    <p class="rSub">Would you like a receipt?</p>
</div>

<br />
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="text-align:center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="FeedbackStars" style="font-size:30px; text-decoration:none">Yes</a>
                    <p class="rCon">(show card balance)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="text-align:center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="FeedbackStars" style="font-size:30px; text-decoration:none">Yes</a>
                    <p class="rCon">(hide card balance)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="text-align:center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="FeedbackStars" style="font-size:30px; text-decoration:none">No</a>
                </div>
            </div>
        </div>
    </div>


</div>

