@{
    ViewData["Title"] = "Show Balance";
}

<div class="container" style="text-align: center">
    <i class="fas fa-money-bill-alt" style="font-size: 55px; color: black; text-align: center; display: block; margin-top:255px;"></i>
	<p class="text" style="font-size:34px; margin-top: 20px;">Don't forget to collect your cash</p>
    <span class="placeholder" style="color: black; background: transparent; font-size:24px; margin-top:10px;">Account No: 123-456789-0</span>
    <br />
    <span class="placeholder" style="color: black; background: transparent; font-size:24px; margin-top:10px;">Account Balance: $24,510.00</span>
</div>
