
@{
    ViewData["Title"] = "tesst";
}
<style>
    #video, #canvas {
        margin-left: 230px;
        margin-top: 120px;
        position: absolute;
    }
</style>
<h1>tesst</h1>
<div class="demo-title">
    <p><a href="http://trackingjs.com" target="_parent">tracking.js</a> － get user's webcam and detect faces</p>
</div>

<div class="demo-frame">
    <div class="demo-container">
        <video id="video" width="320" height="240" preload autoplay loop muted></video>
        <canvas id="canvas" width="320" height="240"></canvas>
    </div>
</div>
