
@{
	ViewData["Title"] = "testSky";
	Layout = null;
}

<head>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/skyBio" defer></script>
</head>
<body>
	<div id="content_demo_image" style="width: 480px;">
	</div>
</body>
