@{
    ViewData["Title"] = "Thanks";
}
<head>
    <meta http-equiv="refresh" content="5; URL=Index" />
</head>
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h1 id="thanks">Thank you for your feedback!</h1>
    <h4 id="reachOut"style="white-space: nowrap">Please contact +65 6363 3333 if you would like to further reach out to us</h4>
    <h5 id="returnToHome">[Returning to home page after 5 seconds]</h5>
	<a id="additionalFeedback" asp-controller="Home" asp-action="FeedbackOptions" class="add-feedback">Submit additional feedback</a>
</div>