@{
    ViewData["Title"] = "Thanks";
}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h1>Thank you for your feedback!</h1>
    <h4 style="white-space: nowrap">Please contact +65 6363 3333 if you would like to further reach out to us</h4>
</div>

