@{
    ViewData["Title"] = "WithdrawMessage";
}
<head>
    <meta http-equiv="refresh" content="5; URL=Receipt" />
</head>

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <p class="rSub" style="white-space: nowrap" id="withdrawMessage">Withdrawing money, please wait...</p>
</div>



