@{
    ViewData["Title"] = "Get Cash";
}

<div class="text-center container-fluid">
    <p class="getCashHeader rTitle" id="getCashHeader">Get Cash</p>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-dark">
                <div class="card-body" style="text-align: center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="WithdrawMessage" style="font-size: 30px; text-decoration: none">$50</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <div class="card border-dark">
                <div class="card-body" style="text-align: center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="WithdrawMessage" style="font-size: 30px; text-decoration: none">$80</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <div class="card border-dark">
                <div class="card-body" style="text-align: center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="WithdrawMessage" style="font-size: 30px; text-decoration: none">$100</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <div class="card border-dark">
                <div class="card-body" style="text-align: center; min-height: 150px;">
                    <a class="rTitle" asp-controller="Home" asp-action="WithdrawMessage" style="font-size: 30px; text-decoration: none">$150</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <p id="otherAmount" class="form-control-lg mr-3 rSub" style="white-space: nowrap; padding-top:20px;"><b>Other Amount:</b></p>
                    <form action="@Url.Action("WithdrawMessage", "Home")" method="get" class="d-flex" style="width: 200px;">
                        <div class="d-flex align-items-center">
                            <input type="text" id="enterAmountPlaceholder" name="amount" class="form-control form-control-lg rSub" style="width: 100%;" placeholder="Enter Amount" required>
                        </div>
                        &nbsp;
                        <button type="submit" id="submitButton" style="border: none; outline: none; background: transparent;" disabled>
                            &rArr;
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('enterAmountPlaceholder').addEventListener('input', function () {
        const amount = this.value.trim();
        const submitButton = document.getElementById('submitButton');

        // Check if the input is a valid number with or without a leading $
        if (/^\$?\d+$/.test(amount)) {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'true');
        }
    });
</script>




