@{
    ViewData["Title"] = "WithdrawMessage";
}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h1 style="white-space: nowrap">Withdrawing money, please wait...</h1>
    <a asp-controller="Home" asp-action="Receipt">next</a>
</div>



