@model PFD_Project.Models.SatCountData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFD_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminCharts.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <style>
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 100vw;
            max-width: 100vw;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        input[type="number"] {
            min-width: 50px;
        }

    </style>
</head>
<body>
    <div class="chartsDisplay">
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <div class="row">
            <div class="col-6">
                <input type="button" value="Back" id="button1" onclick="location.href='@Url.Action("Index", "Admin")'" />
            </div>
            <div class="col-6">
                <input type="button" value="Bar Chart" id="button2" onclick="location.href='@Url.Action("FeedbackBarChart", "Admin")'" />
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" asp-for="data1" id="data1" />
        <input type="hidden" asp-for="data2" id="data2" />
        <input type="hidden" asp-for="data3" id="data3" />
        <input type="hidden" asp-for="data4" id="data4" />
        <input type="hidden" asp-for="data5" id="data5" />
    </div>
</body>
</html>
<script>
    var data1 = parseInt(document.getElementById('data1').value);
    var data2 = parseInt(document.getElementById('data2').value);
    var data3 = parseInt(document.getElementById('data3').value);
    var data4 = parseInt(document.getElementById('data4').value);
    var data5 = parseInt(document.getElementById('data5').value);
    Highcharts.chart('container', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Customer Rating Composition'
        },
        tooltip: {
            valueSuffix: ''
        },
        subtitle: {
            text:
                'Source:<a href="https://www.mdpi.com/2072-6643/11/3/684/htm" target="_default">MDPI</a>'
        },
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: [{
                    enabled: true,
                    distance: 20
                }, {
                    enabled: true,
                    distance: -40,
                    format: '{point.percentage:.1f}%',
                    style: {
                        fontSize: '1.2em',
                        textOutline: 'none',
                        opacity: 0.7
                    },
                    filter: {
                        operator: '>',
                        property: 'percentage',
                        value: 0
                    }
                }]
            }
        },
        series: [
            {
                name: 'Number of rating',
                colorByPoint: true,
                data: [
                    {
                        name: 'Very Satisfied (5/5)',
                        sliced: true,
                        selected: true,
                        y: data5
                    },
                    {
                        name: 'Satisfied (4/5)',
                        y: data4
                    },
                    {
                        name: 'Neutral (3/5)',
                        y: data3
                    },
                    {
                        name: 'Unsatisfied (2/5)',
                        y: data2
                    },
                    {
                        name: 'Very Unsatisfied (1/5)',
                        y: data1
                    }
                ]
            }
        ]
    });

</script>